{
  "log": {
    "loglevel": "debug"
  },
  "routing": {
    "rules": [
      {
        "ip": [
          "geoip:private"
        ],
        "outboundTag": "direct"
      }
    ]
  },
  "inbounds": [
    {
      "listen": "127.0.0.1",
      "port": {{ inbound_port}},
      "protocol": "socks"
    }  
  ],
  "outbounds": [
    {
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{ vps_ip }}",
            "port": {{ outbound_port | default(443, true) }},
            "users": [
              {
                "id": "{{ client_id }}",
                "encryption": "none",
                "flow": "xtls-rprx-vision"
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "fingerprint": "chrome",
          "serverName": "www.bernd32.xyz",
          "publicKey": "{{ public_key }}",
          "shortId": "{{ short_id }}"
        }
      },
      "tag": "proxy"
    },
    {
      "protocol": "freedom",
      "tag": "direct"
    }
  ]
}